@media screen and (max-width: 1366px) {
  .main-content {
    margin-left: 40px;
  }
}
@media screen and (max-width: 1280px) {
  .content-form__item span {
    display: none;
  }
}
@media screen and (max-width: 1152px) {
  .add p {
    font-size: 22px;
  }
  .content-form__item {
    flex-direction: column;
  }
  .content-form__item img {
    padding: 15px 0;
  }
  .content-form__item p {
    margin-right: 0 !important;
    margin-bottom: 15px;
  }
  .content-form__item:first-child {
    margin-bottom: 60px;
  }
  .footer {
    margin-top: 1100px;
  }
  #btn-2 {
    margin-bottom: 40px;
  }
  .reserv-list__item {
    flex-direction: column;
    border-bottom: 1px solid #202e3c;
  }
  .reserv-list__item img {
    margin-bottom: 15px;
  }
  .reserv-list__item:first-child {
    padding-top: 0;
  }
  .circle-menu {
    display: block !important;
  }
  .menu-2 {
    display: none;
  }
  .menu-2 {
    flex-direction: column;
    text-align: center;
  }
  .menu-2 li {
    margin-bottom: 30px;
  }
  .menu-2 li a {
    margin: 0 auto;
  }
  .menu-2 li img {
    display: none;
  }
  .offer__text h1 {
    font-size: 40px;
  }
  .offer__text p {
    font-size: 28px;
  }
}
@media screen and (max-width: 1024px) {
  .add p {
    font-size: 18px;
  }
  .btn {
    max-width: 150px;
    font-size: 15px;
  }
  .header-content {
    flex-direction: column;
  }
  .auto {
    margin-bottom: 30px;
  }
  .menu-1 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 800px) {
  .add {
    flex-direction: column;
  }
  .add p,
  .add img {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .reserv__title {
    flex-direction: column;
  }
  .reserv__title img {
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .reserv__title h2 {
    font-size: 16px;
  }
  .content-form__item p {
    font-size: 16px;
  }
  .content-form_2 {
    width: 80%;
  }
  .content-form_2 input {
    width: auto;
  }
  .check {
    flex-direction: column;
  }
  .check input {
    width: 25px;
    height: 25px;
    margin: 0 auto;
    margin-bottom: 14px;
  }
  .check p {
    font-size: 14px;
  }
  .offer__text h1 {
    font-size: 24px;
  }
  .offer__text p {
    font-size: 20px;
  }
  .footer {
    margin-top: 1700px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .main-wrapper {
    flex-direction: column;
  }
  .reserv,
  .main-content {
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
  }
  .reserv-sidebar__content-2 p {
    text-align: center;
  }
  #main-content2 {
    padding-bottom: 15px;
  }
  .content-form_2 {
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 576px) {
  nav {
    margin: 0 auto;
  }
  .menu-1 {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .menu-1 li {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .menu-2 li a {
    font-size: 16px;
  }
  .auto {
    flex-direction: column;
  }
  .auto__item {
    justify-content: center;
    margin-left: 0 !important;
    margin-bottom: 15px;
  }
  .logo {
    margin-bottom: 20px;
  }
  .reserv-sidebar__content-2 p {
    margin-left: 0;
    padding: 0 10px;
    font-size: 13px;
  }
  .btn {
    padding: 11px 20px;
  }
  .content-form_2__item input {
    width: 90%;
  }
  .reserv {
    display: none;
  }
  .footer {
    display: none;
  }
  .open-reserv {
    display: block;
  }
}
