body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  padding: 0;
  margin: 0;
  letter-spacing: 0.08em;
  font-family: sans-serif;
}
body {
  background-color: #0f263e;
}
a {
  text-decoration: none;
}
.container {
  width: 75%;
  margin: 0 auto;
}
.db {
  display: block !important;
}
.dn {
  display: none;
}
.obmen-no {
  background-color: #d43030;
}
.obmen-no p {
  padding: 5px 0;
  text-align: center;
  color: #fff;
  font-size: 15px;
}
.header {
  background-color: #091726;
  border-bottom: 1px solid #202e3c;
}
.header-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  cursor: pointer;
  display: block;
  padding: 13px 0;
  width: 243px;
  height: 44px;
}
.menu-1 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.menu-1 li {
  display: block;
  margin-right: 40px;
}
.menu-1 li a {
  color: #fff;
  font-size: 16px;
  transition: 0.2s;
  padding: 3px 0;
}
.menu-1 li a:hover {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.auto {
  display: flex;
}
.auto__item {
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.1s;
}
.auto__item:hover {
  opacity: 1;
}
.auto__item img {
  display: block;
  margin-right: 10px;
}
.auto__item p {
  color: #fff;
  font-size: 14px;
}
.auto__item:last-child {
  margin-left: 40px;
}
.offer {
  height: 100vh;
  background: url('../img/first-bg.jpg') no-repeat center top / cover;
}
.offer__text {
  text-align: center;
  font-weight: bold;
  padding-top: 25vh;
}
.offer__text h1 {
  font-size: 48px;
  color: #fff;
  text-transform: uppercase;
}
.offer__text p {
  margin-top: 15px;
  font-size: 34px;
  color: #e4e4e4;
  margin-bottom: 70px;
}
.btn {
  background: transparent;
  padding: 13px 40px;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 20px;
  transition: 0.2s;
}
.btn:hover {
  background-color: #fff;
  color: #091726;
}
.header-2 {
  background-color: #091726;
}
.just {
  display: flex;
  justify-content: space-between;
}
.circle-menu {
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  display: none;
}
.circle-menu__active .line {
  height: 0;
}
.circle-menu__active .line::before {
  transform: rotate(135deg);
}
.circle-menu__active .line::after {
  transform: rotate(-135deg);
}
.line {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 21px;
  height: 1px;
  margin-top: -0.5px;
  margin-left: -10.5px;
  background-color: #fff;
}
.line::before,
.line::after {
  content: '';
  display: block;
  width: 21px;
  height: 1px;
  background-color: #fff;
  transition: 0.3s;
}
.line::before {
  transform: translateY(-6px);
}
.line::after {
  transform: translateY(6px);
  margin-top: -0.5px;
}
.open-reserv {
  background-color: #070e16;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  padding-bottom: 15px;
  display: none;
}
.open-reserv p {
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
.open-reserv img {
  display: block;
  margin: 0 auto;
  transition: 0.3s;
}
.open-reserv__active img {
  transform: rotate(180deg);
}
.menu-2 {
  margin: 0;
  padding: 22px 0;
  display: flex;
  justify-content: space-between;
}
.menu-2 li {
  display: flex;
  opacity: 0.8;
  transition: 0.1s;
}
.menu-2 li img {
  display: block;
  margin-right: 10px;
}
.menu-2 li a {
  color: #fff;
  font-size: 20px;
}
.menu-2 li:hover {
  opacity: 1;
}
.main {
  background-color: #0f263e;
  height: 1700px;
  text-align: center;
}
.reserv {
  color: #fff;
  width: 330px;
  background-color: #091726;
  margin-top: 40px;
  padding-bottom: 40px;
}
.reserv__title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin: 0 auto;
  border-bottom: 1px solid #202e3c;
}
.reserv__title img {
  display: block;
  margin-right: 10px;
  width: 27px;
  height: 28px;
}
.reserv__title h2 {
  font-weight: 300;
  font-size: 22px;
  text-align: center;
}
.reserv__title:last-child img {
  width: 29px;
  height: 25px;
}
.reserv-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 15px;
}
.reserv-list__item:first-child {
  padding-top: 20px;
}
.reserv-list__item:nth-child(6) img {
  margin-left: 5px;
}
.reserv-list__item:last-child {
  margin-bottom: 30px;
}
.reserv-list__item img {
  margin-right: 11px;
}
.reserv-list__item p {
  font-size: 14px;
  color: #fff;
}
.reserv-list__item .summ {
  background-color: #0b1d30;
  padding: 3px 5px;
}
.btn {
  display: block;
  margin: 0 auto;
  max-width: 190px;
}
.main-wrapper {
  display: flex;
  justify-content: space-between;
}
.main-content {
  width: 69%;
  margin-top: 40px;
  background-color: #091726;
}
.main-content h2 {
  color: #fff;
}
.content-form {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 55px;
}
.content-form .comission {
  font-size: 18px;
  text-align: center;
  padding: 15px 0;
  color: #83868b;
  font-weight: bold;
}
.content-form p {
  font-size: 20px;
  color: #fff;
}
.content-form input {
  background: transparent;
  border: 1px solid #fff;
  text-align: center;
  color: #fff;
  font-size: 20px;
  width: 150px;
  height: 40px;
}
.content-form select {
  font-size: 16px;
  background: transparent;
  border: 1px solid #fff;
  text-align: center;
  color: #fff;
  width: 150px;
  height: 40px;
}
.content-form option {
  color: #000;
}
.content-form img {
  width: 23px;
  height: 28px;
  margin: 0 20px;
}
.content-form span {
  font-size: 14px;
  color: #83868b;
}
.content-form__item {
  display: flex;
  align-items: center;
}
.content-form__item:first-child {
  margin-top: 55px;
}
.content-form__item:first-child p {
  margin-right: 42px;
}
.content-form__item:first-child span {
  margin-left: 20px;
}
.content-form__item:last-child p {
  margin-right: 17px;
}
#main-content2 p {
  margin-left: 0 !important;
}
.content-kurs {
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #202e3c;
  border-bottom: 1px solid #202e3c;
}
.content-kurs p {
  font-size: 14px;
}
.content-form_2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}
.content-form_2__item {
  margin-top: 30px;
}
.content-form_2__item p {
  color: #fff;
  font-size: 20px;
  margin-bottom: 15px;
}
.content-form_2__item input {
  background: transparent;
  border: 1px solid #fff;
  padding: 12px 0;
  padding-left: 13px;
  width: 287px;
  font-size: 15px;
  color: #fff;
}
.content-form_2 .check {
  display: flex;
  margin: 0 auto;
  padding: 40px 0;
}
.content-form_2 .check p {
  margin-left: 10px;
  color: #fff;
}
.content-form_2 .check p a {
  color: #fff;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid #fff;
}
.content-form_2 .check input {
  cursor: pointer;
}
.reserv-sidebar__content-2 p {
  color: #7f868e;
  font-size: 14px;
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.5em;
}
.form-2 {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 25px;
}
.form-2 input {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  padding: 10px 0;
  padding-left: 15px;
  font-size: 15px;
  margin-bottom: 15px;
}
.form-2 input:last-child {
  margin-bottom: 30px;
}
.form-2 select {
  background: transparent;
  border: 1px solid #fff;
  padding: 10px 0;
  padding-left: 15px;
  font-size: 15px;
  margin-bottom: 15px;
  color: #fff;
}
.form-2 select option {
  color: #000;
}
#main-content2 p {
  margin-left: 25px;
  margin-top: 25px;
  color: #fff;
  font-size: 14px;
  margin-bottom: 15px;
}
#main-content2 a {
  text-decoration: none;
  color: #788088;
  border-bottom: 1px solid #788088;
  padding-bottom: 2px;
  font-size: 14px;
  margin-left: 25px;
}
.add {
  display: flex;
  align-items: center;
  padding: 50px 0;
}
.add p {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  margin-right: 40px;
}
.add img {
  margin-right: 45px;
  transition: 0.3s;
}
.add img:last-child {
  margin-right: 0;
}
.add img:hover {
  transform: rotate(360deg);
}
.footer {
  background-color: #091726;
  margin-top: 50px;
}
.footer p {
  padding: 20px 0;
  color: #696a6b;
  font-size: 14px;
  text-align: center;
}
