.main-content__text {
  padding-bottom: 40px;
}
.main-content__text p {
  color: #83868b;
  font-size: 14px;
  margin: 0 25px;
  margin-top: 30px;
  line-height: 1.7em;
  text-align: left;
}
.main-content__text p strong {
  text-align: center;
  font-size: 15px;
  color: #fff;
}
.footer {
  display: none;
}
