.dn {
  display: none;
}
.db {
  display: block;
}
.quest-list {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
.quest-list__item {
  margin-bottom: 5px;
}
.quest-list__item:last-child {
  margin-bottom: 50px;
}
.quest-list__item_name {
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  align-items: center;
  width: 70%;
  background-color: #0b1d30;
  margin: 0 auto;
  cursor: pointer;
  border-bottom: 1px solid #202e3c;
}
.quest-list__item_name p {
  padding: 10px 0;
  color: #fff;
}
.quest-list__item_name img {
  transition: 0.3s;
}
.quest-list__item_content {
  width: 70%;
  background-color: #0b1d30;
  margin: 0 auto;
}
.quest-list__item_content p {
  color: #a5a5a5;
  text-align: left;
  margin: 0 25px;
  font-size: 14px;
  line-height: 1.7em;
}
.quest-list__item_content p:first-child {
  padding-top: 25px;
}
.quest-list__item_content p:last-child {
  display: block;
  padding-bottom: 25px;
}
.quest-active img {
  transform: rotate(180deg);
}
#quest_1 {
  display: none;
}
@media screen and (max-width: 576px) {
  .quest-list__item_name p {
    font-size: 14px;
  }
  .quest-list__item_content p {
    text-align: center;
    font-size: 13px;
  }
}
