.offer {
  background: url('../img/four-bg.jpg') no-repeat center top / cover;
}
.main {
  height: auto;
}
.main-content__text p {
  color: #fff;
  margin-left: 25px;
  margin-top: 30px;
  font-size: 14px;
}
@media screen and (max-width: 576px) {
  .main-content__text p {
    margin-left: 15px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 320px) {
  .main-content__text p {
    margin-left: 15px;
  }
}
