* {
  padding: 0;
  margin: 0;
}
html {
  overflow-x: hidden;
}
body {
  background: linear-gradient(117deg, #2d2d2d, #242424);
  min-height: 100vh;
  padding-bottom: 50px;
  -webkit-animation: animatedBG 30s infinite;
          animation: animatedBG 30s infinite;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.05em;
}
ul {
  list-style: none;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.done {
  opacity: 0 !important;
  visibility: hidden !important;
}
.header__content {
  position: relative;
}
.circle-menu {
  cursor: pointer;
  background: transparent;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  bottom: -10%;
  display: none;
}
.line {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 17px;
  height: 1px;
  margin-top: -0.5px;
  margin-left: -10.5px;
  background-color: #fff;
}
.line::before,
.line::after {
  content: '';
  display: block;
  width: 17px;
  height: 1px;
  background-color: #fff;
  transition: 0.3s;
}
.line::before {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}
.line::after {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  margin-top: -1px;
}
.popup-menu__wrapper {
  position: fixed;
  right: 0;
  z-index: 4;
  width: 100%;
  min-height: 100vh;
}
.popup-menu__wrapper_left {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 40%;
  min-height: 100vh;
  left: 0;
}
.popup-menu__wrapper .menu-text {
  position: relative;
  width: 100%;
  height: 100vh;
}
.popup-menu__wrapper .menu-text p {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  letter-spacing: 0.2em;
  color: #fff;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
}
.popup-menu__wrapper_right {
  position: absolute;
  right: 0;
  background: linear-gradient(0deg, #662D8C, #ED1E79);
  width: 60%;
  min-height: 100vh;
}
.popup-menu i {
  cursor: pointer;
  color: #fff;
  font-size: 30px;
  width: 100%;
  text-align: center;
  opacity: 0.7;
  position: absolute;
  left: 50%;
  top: 15%;
  -webkit-transform: translate(-50%, -15%);
          transform: translate(-50%, -15%);
  transition: 0.1s linear;
}
.popup-menu i:hover {
  opacity: 1;
}
.menu-mobile__wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 100%;
}
.menu-mobile {
  text-align: center;
  position: relative;
}
.menu-mobile li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s linear;
  padding: 20px 0;
  width: 100%;
  background: transparent;
}
.menu-mobile li a:hover {
  background: linear-gradient(117deg, #662D8C, #ED1E79);
  background-size: 100%;
}
.burger-link__active {
  background: linear-gradient(117deg, #662D8C, #ED1E79) !important;
  background-size: 100% !important;
}
.header {
  padding-top: 3%;
}
.header__content {
  display: flex;
  justify-content: space-between;
}
.header__content .logo {
  color: #fff;
}
.header__content .logo p {
  font-size: 28px;
  font-weight: 300;
}
.header__content .logo span {
  display: block;
  font-size: 18px;
  font-weight: 100;
  margin-top: 5px;
}
.menu {
  display: flex;
  margin-top: 14%;
}
.menu__item {
  display: block;
  margin-right: 35px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  color: #fff;
  transition: linear 0.1s;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}
.menu__link:hover {
  color: #28c9d3;
}
.active {
  color: #28c9d3;
}
.main__title p {
  color: #fff;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 800;
}
.main__title span {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #525252;
  line-height: 1.4em;
  padding-top: 10px;
}
.title__wrapper {
  overflow: hidden;
  padding: 45px 50px;
  background: rgba(0, 0, 0, 0.1);
}
.works__year {
  margin: 30px 0 20px 0;
}
.works__year p {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  background-color: #252424;
  width: 85px;
  padding: 3px 0;
  text-align: center;
}
.works-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.works-list__item {
  min-width: 230px;
  height: 230px;
  min-height: 230px;
  background-color: #000;
  position: relative;
  overflow: hidden;
  margin-right: 35px;
  margin-bottom: 35px;
}
.works-list__item img {
  width: 100%;
  transition: 0.1s linear;
}
.works-list__item .frame {
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  overflow: hidden;
}
.works-list__item .frame__item:first-child {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transition: 0.35s linear;
}
.works-list__item .frame__item:nth-child(2) {
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transition: 0.35s linear;
}
.works-list__item .frame__item:nth-child(3) {
  position: absolute;
  right: 0;
  top: -100%;
  height: 100%;
  width: 1px;
  background-color: #fff;
  transition: 0.35s linear;
}
.works-list__item .frame__item:last-child {
  position: absolute;
  left: 0;
  bottom: -100%;
  height: 100%;
  width: 1px;
  background-color: #fff;
  transition: 0.35s linear;
}
.works-list__item:hover .frame__item:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.works-list__item:hover .frame__item:nth-child(2) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.works-list__item:hover .frame__item:nth-child(3) {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #fff;
}
.works-list__item:hover .frame__item:last-child {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 1px;
  background-color: #fff;
}
.works-list__item:hover .work-info {
  top: 0;
}
.works-list__item:hover img {
  opacity: 0.2;
}
.work-info {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: -100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 100%;
  transition: linear 0.35s;
}
.work-info p {
  display: block;
  position: absolute;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  left: 50%;
  width: 100%;
  top: 20%;
  -webkit-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
  z-index: 999;
}
.work-info a {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 20px;
  transition: 0.1s linear;
}
.work-info a:hover {
  background-color: #fff;
  border: none;
  color: #121212;
}
.work-info span {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  left: 50%;
  top: 80%;
  -webkit-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}
